*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 688px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/images/herosection.png') no-repeat center center/cover;
    filter: saturate(150%) brightness(0.9);
}

.featuredRecipes {
    width: 100%;
    height: 100dvh;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 80px 0;
}

.cardContainer{
    width: 100%;
    height: 893px;
}

.textSection{
    display: flex;
    width: 100%;
    height: 67px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 20px;
}

.textSection .text{
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #1e1e1e;
    font-style: Bold;
}